body {

}
/*Tamanho da Overlay*/
#overlay {
    height: 720px;
    width: 1280px;
    /*background-color:green;*/
}

/*Caixa de Configuração azul*/
#BConfig {
    background-color: blue;
    width: 194px;
}
/*Caixa de Configuração red*/
#RConfig {
    background-color: red;
    width: 194px;
}

/*Imagem superior Azul*/
#bsup {
    float: left;
}
/*Imagem superior Vermelha*/
#rsup {
    float: right;
}
/*Imagem inferior Azul*/
#binf {
    float: left;
    position: absolute;
    top: 596px;
    left: 197px;
}
/*Imagem inferior Vermelha*/
#rinf {
    float: right;
    position: absolute;
    top: 596px;
    left: 645px;
}

#vs {
    position: absolute;
    top: 596px;
    left: 584px;
}

/*Textos da Overlay*/
/*Blue info*/
#BPname {
    float: left;
    position: absolute;
    color: white;
    top: 13px;
    left: 140px;
    text-align: right;
    font-family: Heavitas;
    width: 217px;
    margin-top: 0px;
}
#Bcont {
    position: absolute;
    font-family: Heavitas;
    color:white;
    font-size:13px;
    width:160px;
    text-align:center;
    top: 686px;
    left: 198px;
}

/*Red info*/
#RPname {
    float: right;
    position: absolute;
    color: white;
    top: 13px;
    left: 922px;
    text-align: left;
    font-family: Heavitas;
    width: 217px;
}
#Rcont {
    position: absolute;
    font-family: Heavitas;
    color: white;
    font-size: 13px;
    width: 150px;
    text-align: center;
    top: 686px;
    left: 942px;
}
/*Ban*/
/*blue*/
.bban {
    -webkit-clip-path: polygon(2% 0, 70% 0, 100% 100%, 30% 100%);
    clip-path: polygon(2% 0, 70% 0, 100% 100%, 30% 100%);
}
#BBanimg1 {
    position: absolute;
    top: 596px;
    left: 330px;
    height: 122px;
}

#BBanimg2 {
    position: absolute;
    top: 596px;
    left: 400px;
    height:122px;
}

#BBanimg3 {
    position: absolute;
    top: 596px;
    left: 467px;
    height: 122px;
}

/*red*/
.rban {
    -webkit-clip-path: polygon(30% 0, 98% 0, 70% 100%, 2% 100%);
    clip-path: polygon(30% 0, 98% 0, 70% 100%, 2% 100%);
}
#RBanimg1 {
    position: absolute;
    top: 596px;
    left: 700px;
    height:122px;
}

#RBanimg2 {
    position: absolute;
    top: 596px;
    left: 771px;
    height: 122px;
}

#RBanimg3 {
    position: absolute;
    top: 596px;
    left: 840px;
    height: 122px;
}